* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container img {
    max-width: 300px;
    height: auto;
    transition: transform 0.3s ease;
   }

.logo-container img:hover {
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}

.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: #007bff;
    margin: 2px 0;
    transition: all 0.3s ease;
}

.menu-toggle.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active div:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

nav {
    display: flex;
    margin-right: 90px;
    color: #007BFF;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color:#003C97;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #007BFF;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#003C97;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 10px;
        background: #fff;
        box-shadow: 0 2px 5px #003C97;
        padding: 10px;
        z-index: 1000;
        width: calc(40% - 20px);
    }

    nav.active {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color:#003C97;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .top-header {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        margin-top: 10px;
    }

    .features {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .carousel-text {
        font-size: 30px;
    }

    .cta h2 {
        font-size: 24px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 800px;
        margin: auto;
    }

    .box {
        flex: 1;
        min-width: 300px;
        background-color: #007bff;
        color: white;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}
